/* import fonts locally */
@font-face {
  font-family: 'Airbnb Cereal-Black';
  src: url('../fonts/AirbnbCereal-Black.ttf') format('ttf');
  src: url('../fonts/AirbnbCereal-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb Cereal-Bold';
  src: url('../fonts/AirbnbCereal-Bold.ttf') format('ttf');
  src: url('../fonts/AirbnbCereal-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb Cereal-Book';
  src: url('../fonts/AirbnbCereal-Book.ttf') format('ttf');
  src: url('../fonts/AirbnbCereal-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb Cereal-ExtraBold';
  src: url('../fonts/AirbnbCereal-ExtraBold.ttf') format('ttf');
  src: url('../fonts/AirbnbCereal-ExtraBold.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb Cereal-Light';
  src: url('../fonts/AirbnbCereal-Light.ttf') format('ttf');
  src: url('../fonts/AirbnbCereal-Light.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb Cereal-Medium';
  src: url('../fonts/AirbnbCereal-Medium.ttf') format('ttf');
  src: url('../fonts/AirbnbCereal-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMachina-Light';
  src: url('../fonts/NeueMachina-Light.otf') format('otf');
  src: url('../fonts/NeueMachina-Light.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMachina-Regular';
  src: url('../fonts/NeueMachina-Regular.otf') format('otf');
  src: url('../fonts/NeueMachina-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMachina-Ultrabold';
  src: url('../fonts/NeueMachina-Ultrabold.otf') format('otf');
  src: url('../fonts/NeueMachina-Ultrabold.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}

html,
body {
  background-image: url('../public/img/Splines7.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.bg_dark{
  background: #101828;
}

.inp {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #14181b;
  padding: 25px 10px;
  color: #b8c2cc;
  background-color: transparent;
  font-size: 20px;
}
.inp-white {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #8795a1;
  padding: 25px 10px;
  color: #b8c2cc;
  background-color: transparent;
  font-size: 20px;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease;
  text-indent: -100%;
  opacity: 1;
}

.grey1 {
  color: #8795a1;
}

.h-5p {
  height: 5px;
}

.black1 {
  color: #14181b;
}

.font-size1 {
  font-size: 58px;
}

.font-size2 {
  font-size: 19px;
}

.font-size3 {
  font-size: 40px;
}

.font-size4 {
  font-size: 28px;
}

.font-size5 {
  font-size: 24px;
}

.font-size6{
  font-size: 16px;
}

.font-size7{
  font-size: 18px;
}

.font-size8{
  font-size: 15px;
}

.ls1{
  letter-spacing: 0.02em;
}
.ls2{
  letter-spacing: 0.01em;
}

.max-w-850 {
  max-width: 750px;
}

.mt125 {
  margin-top: 120px;
}

.mt12{
  margin-top: 2.8rem;
}

.mt24 {
  margin-top: 2.4rem;
}

.mt25 {
  margin-top: 2.5rem;
}

.mt26 {
  margin-top: 2.6rem;
}

.mt33 {
  margin-top: 3.3rem;
}

.w-150 {
  width: 150px;
}

.airbnb-cereal-bold {
  font-family: 'Airbnb Cereal-Bold';
}
.airbnb-cereal-medium {
  font-family: 'Airbnb Cereal-Medium';
}
.airbnb-cereal-light {
  font-family: 'Airbnb Cereal-Light';
}

.devby {
  color: #3d4852;
}

.kow {
  color: #606f7b;
  font-size: 15px;
}

.sidebar-menu1 {
  color: #3d4852;

  font-style: normal;
  font-weight: 800;
  font-size: 38.5px;
  line-height: 150%;
}

.sidebar-git {
  color: #8795a1;
}

.sidebar-socials {
  color: #606f7b;
}

.text-40 {
  font-size: 40px;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: url('../public/img/Splines1.png');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  /* width: 100%; */
  /* height: 100%; */
}

.bgblack{
  background: #3D4852;
}

.about_p {
  font-size: 16px;
  width: 650px;
  line-height: 40px; 
}

.footer {
  height: 280px;
  width: 100%;
  margin-top: 200px;
  /* margin-bottom: 40px; */
  position: relative;
  bottom: 0;
}

.neue-machina-regular {
  font-family: 'NeueMachina-Regular';
}
.neue-machina-ultrabold {
  font-family: 'NeueMachina-Ultrabold';
}

.sidebar-line {
  border: 1px solid #3d4852;
}

.img-rect {
  position: relative;
  display: inline-block;
}
.img-rect-white {
  position: relative;
  display: inline-block;
}

.img-rect-image {
  vertical-align: bottom;
}

.img-rect:after {
  content: '';
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: 1px solid #606f7b;
  width: 100%;
  height: 91%;
  z-index: 1;
}

.img-rect-white:after {
  content: '';
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: 1px solid #F1F5F8;
  width: 100%;
  height: 91%;
  z-index: 1;
}

.view-project {
  position: relative;
  display: inline-block;
}
.view-project-white {
  position: relative;
  display: inline-block;
}

.view-project:after {
  content: '';
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: 1px solid #606f7b;
  width: 99%;
  height: 90%;
  z-index: -1;
}
.view-project-white:after {
  content: '';
  position: absolute;
  left: 1rem;
  top: 1rem;
  border: 1px solid #F1F5F8;
  width: 99%;
  height: 90%;
  z-index: -1;
}

.skill-size {
  font-size: 38px;
  color: #3D4852;
}

.c3d4d6 {
  color: #3D4852;
}

.block-line {
  background-image: url('../icons/dash.svg');
}

.block-line-white {
  background-image: url('../icons/dash-white.svg');
}

.circle-mb {
  margin-bottom: 350px;
}
.circle-mb1 {
  margin-bottom: 235px;
}
.circle-mb1i {
  margin-bottom: 170px;
}
.circle-mb1e {
  margin-bottom: 200px;
}
.circle-mb1s {
  margin-bottom: 190px;
}
.circle-mb2 {
  margin-bottom: 500px;
}

.space1 {
  margin-bottom: 375px;
}
.space2 {
  margin-bottom: 250px;
}
.space2i {
  margin-bottom: 200px;
}
.space2e {
  margin-bottom: 220px;
}

.space2s {
  margin-bottom: 210px;
}
.space3 {
  margin-bottom: 550px;
}

.margin-b {
  margin-bottom: 70px;
}
.margin-b2 {
  margin-bottom: 360px;
}
.margin-b3 {
  margin-bottom: 65px;
}
.margin-b4 {
  margin-bottom: 60px;
}
.margin-b5 {
  margin-bottom: 50px;
}

.mb_14{
  margin-bottom: 52px;
}
.mb_14i{
  margin-bottom: 52px;
}

.mb85{
  margin-bottom: 85px;
}

.work {
  background-color: #f8fafc;
}

.work-white {
  background: #1d2939;
}

.h-425 {
  height: 425px;
}

.h-835 {
  height: 835px;
}

.sg_bg {
  background: #f1f5f8;
}
